* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.game-header {
    border-bottom: 2.5px solid #333333;
    padding: 14px;
}

.game {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    color: #333333;
}

.spiral {
    font-size: 40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.info-bar {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
    visibility: visible;
}

.word-container {
    padding: 30px 100px;
    display: grid;
    grid-template-columns: repeat(5, 55px);
    grid-gap: 15px;
    justify-content: center;
}

.input-div {
    width: 50px;
    height: 50px;
    border: 3px solid #CCCCCC;
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.correct-position {
    background-color: darkgreen;
    color: white;
}
.wrong-position {
    background-color: #DAA520;
    color: white;
}
.neutral {
    background-color: #888888;
    color: white;
}

.invalid-word {
    border-color: red;
    background-color: transparent;
    color: black;
    animation: borderFade 0.5s ease-out;
}

@keyframes borderFade {
    0% {
        border-width: 3px;
        border-color: red;
        border-style: solid;
    }
    100% {
        border: 3px solid #CCCCCC;
    }
}

.input-div:focus {
    outline: 0px solid transparent;
}

.winner {
    animation: rainbow 4s infinite linear;
}

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
}

